.aboutSection {
  padding: 4rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr auto;
  justify-items: center;

  .aboutTitle {
    margin-bottom: 12.5rem;
  }
}

.aboutContent {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: min-content auto  min-content;
  grid-template-areas: 
    "subtitle image"
    ". image"
    "text image";
}

.aboutImage {
  grid-area: image;
  object-fit: cover;
  width: 27.8225rem;
  height: 27.9375rem;

  img {
    border-radius: 8px;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }
}

.subtitle {
  grid-area: subtitle;
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}

.aboutText {
  grid-area: text;
  font-size: 0.875rem;
}
