.heroSection {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  min-height: 80vh;
}

.heroContent {}

.heroTitle {
  font-size: clamp(3rem, 10vw, 12rem);
}
