.heroSection {
  min-height: 97vh;
}

.heroContent {
  grid-column: 1/-1;
  align-self: end;
}

.heroTitle {
  font-size: 12.5vw;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.25rem;
  
  &>span:nth-child(1) {
    grid-column: 1/5;
    justify-self: start;
  }

  &>span:nth-child(2) {
    grid-column: 7/11;
    justify-self: end;
  }
}
